<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yudao.lianying.v1.term.dao.mapper.EntryLangMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.yudao.lianying.v1.term.dao.EntryLang">
        <id column="id" property="id"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
        <result column="create_by" property="createBy"/>
        <result column="update_by" property="updateBy"/>
        <result column="status" property="status"/>
        <result column="state" property="state"/>
        <result column="entry_id" property="entryId"/>
        <result column="language" property="language"/>
        <result column="language_id" property="languageId"/>
        <result column="definition" property="definition"/>
    </resultMap>

    <resultMap id="EntryLangDTOMap" type="com.yudao.lianying.v1.term.dto.EntryLangDTO">
        <id column="id" property="id"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
        <result column="create_by" property="createBy"/>
        <result column="update_by" property="updateBy"/>
        <result column="status" property="status"/>
        <result column="state" property="state"/>
        <result column="entry_id" property="entryId"/>
        <result column="language" property="language"/>
        <result column="language_id" property="languageId"/>
        <result column="language_name_zh" property="languageNameZh"/>
        <result column="language_name_en" property="languageNameEn"/>
        <result column="definition" property="definition"/>
    </resultMap>


    <!--字段名要用\$，字段值用#，两个方法都行-->
    <update id="modifyByIdAuto">
        update term_entry_lang set
        <foreach collection="modifyFieldNameArray" item="moidfyFieldName" separator="," index="index">
            ${moidfyFieldName}= #{modifyFieldValueArray[${index}]}
        </foreach>
        where id in
        <foreach collection="idList" index="index" item="id" separator="," open="(" close=")">
            #{id}
        </foreach>
    </update>


    <select id="getCommonLang" resultType="string">
        select `language` from (select `language` ,count(*) num from term_entry_lang where create_by =#{account} group by `language` ORDER BY num desc limit 3) a
    </select>
    <select id="selectListByEntryId" resultMap="EntryLangDTOMap">
        select tel.*,lang.name_zh language_name_zh,lang.name_en language_name_en
        from term_entry_lang tel
        left join t_language lang on lang.keyid=tel.language_id
        where tel.status='T' and tel.entry_id=#{entryId}
    </select>

    <delete id="deleteByEntryIdList">
        delete  a.* from  term_entry_lang a
        left join term_entry te on a.entry_id =te.id
        where te.id in
        <foreach collection="entryIdList" index="index" item="id" separator="," open="(" close=")">
            #{id}
        </foreach>
    </delete>

</mapper>
